body{
    background-color:lightgoldenrodyellow;
}
h1{
    font-size: 30px;
    color: indigo;
}
h2{
    color: violet;
}
h2{
    color: Magenta;
}
.big{
    font-size: 60px;
}
.uppercase{
    text-transform:uppercase;
}
.big.uppercase{
    color: navy;
}
span{
    color: pink;
}